node_modules
npm-debug.log
.git
.gitignore
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
yarn-error.log
/.fleet
/.idea
/.vscode
mobile app
*.md
!README.md

